<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./explore.html">Explore</a>
            <a href="./exhibitions.html">Exhibitions</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./checkout.html">Checkout</a>
        </nav>    
    </header>
</body>
</html>