<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Exhibitions</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./explore.html">Explore</a>
            <a href="./exhibitions.html" id="navselected">Exhibitions</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./checkout.html">Checkout</a>
        </nav>    
    </header>
    <h3>Exhibit 1: Philosophy - What would you do?</h3>
    <p>An interactive exhibit showcasing the decisions made by the people around you. Upon entering the space, you are presented with a few different philosophical questions, and once you enter, you can view the responses from everyone as thought bubbles projected on the walls. </p>
    <h3>Exhibit 2: AI in the Physical World</h3>
    <p>This exhibit gives robotic bodies to various AI models. This allows visitors to interact with the newest AI in a physical space.</p>
    <footer>&copy; 2026 MonoMuse Inc. All rights reserved.</footer>
</body>
</html>