<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./explore.html">Explore</a>
            <a href="./exhibitions.html">Exhibitions</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./checkout.html">Checkout</a>
        </nav>    
    </header>

    <figure>
        <img src="../static/museum_img.png" alt="Image of the MonoMuse museum entrance" width="640" height="400">
        <section>
            <h2>Mission Statement</h2>
            <p>MonoMuse is dedicated to showcasing the 
                intersecton of art and technology. The museum 
                exhibits come together to create one, cohesive 
                experience, inspiring visitors to learn more 
                about arts and how technology can enable 
                creative expression. The museum serves anyone 
                who comes with an appreciation for the arts 
                and an open mind.</p>
        </section>
        
        <section>
            <h2>Milestones</h2>
            <ul>
                <li>2026: MomoMuse launched the MonoMuse Scholarship which allows students in the creative or technology field to pursue higher education and come back to showcase their work at MonoMuse.</li>
                <li>2020: MonoMuse moved to the current location (pictured above) to bring its exhibits to the public on a larger scale.</li>
                <li>2018: MomoMuse launched its first digital art summer camp for local middle and high school students. </li>
                <li>2016: The original MonoMuse museum was founded, just 10 minutes from the current location. </li>
            </ul>
        </section>
        
    </figure>
    <footer>&copy; 2026 MonoMuse Inc. All rights reserved.</footer>
</body>
</html>