
* {
    font-family: Roboto;
    padding: 5px;
    margin: 5px;
    background-color: #2D2F34;
    color: #B8A2A6;
    font-optical-sizing: auto;
    font-weight: 100;
    Line-height: 1.5;
    font-style: normal;
    /* border: 1px solid red; */
}

header {
    display: flex;
    align-items: center;
}

html {
    background-color: #2D2F34;
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
  min-width: 100px;
  width: 18vw;
  display: flex;
  border-radius: 10px;
  background-color: #E4AC83;
}

.nav_bar {
    margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #B8A2A6;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
    border: 1px solid #BEA90C;
}

#navselected {
    color: #92ad70;
}

.main {
    display: inline;
}

.CTA {
    background-color: #E4AC83;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    padding: 5px;
}

.CTA:hover {
    border: 2px solid #BEA90C;
    background-color: #BEA90C;
}

#homepage {
    margin-left: 20px;
}

#checkout {
    border-radius: 5px;
}

footer {
   margin-left: 13px;
   border-top: 1px solid #BEA90C;
   padding: 10px 0;
   text-align: center;
   color: #B8A2A6;
}

th {
    padding: 12px 0;
    color: #7FA1C4;
    width: fit-content;
    border-bottom: 1px solid #7FA1C4;
    border-top: 1px solid #7FA1C4;
    padding-bottom: 4px;
    padding-top: 4px;
}

tr:nth-child(even) td {
    background-color: #BEA90C;
    color: #000000;
}

form * {
  margin: auto;
  text-align: center;
}


/* CSS Grid for home page */
.home-grid {
    display: grid;
    grid-template-areas: 
        "heading heading"
        "image description"
        "button button";
    gap: 20px;
}

#greeting {
    grid-area: heading;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 45px; 
  grid-area: image;
}

.main {
    grid-area: description;
    align-self: center;
}

#homepage {
    grid-area: button;
    justify-self: left;
}

.pageTitle {
    background: #E4AC83;
    color: #092A4A;
    font-weight: 800;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

/* home-grid for smaller screens */
@media screen and (max-width: 768px) {
    .home-grid {
        grid-template-areas:
            "heading"
            "image"
            "description"
            "button";  
    }
}

/* CSS Grid for explore page */
.explore-grid {
    display: grid;
    grid-template-areas: 
        "heading nav_bar"
        "image image"
        "mission mission"
        "milestones milestones";
    gap: 20px;
}

.main-image {
    grid-area: image;
    max-width: 50vw;
    height: auto;
}

@media screen and (max-width: 768px) {
    .explore-grid {
        display: grid;
        grid-template-areas: 
            "heading nav_bar"
            "image image"
            "mission mission"
            "milestones milestones";
        gap: 20px;
    }
    .main-image {
        max-width: 90vw;
    }
}

.pageTitle {
    grid-area: heading;
}

.nav_bar {
    grid-area: nav_bar;
}

