<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 class="pageTitle">Exhibitions</h1>
        <nav id="navBar">
            <a href="../index.html">Home</a>
            <a href="./explore.html">Explore</a>
            <a href="./exhibitions.html" id="navselected">Exhibitions</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./checkout.html">Checkout</a>
        </nav>    
    </header>
    <h3>Exhibit 1: Brad Gobright's Early Life and Career</h3>
    <p>Brad Gobright had an early start in climbing, one that would soon gain him national recognition as a skilled climber.</p>
    <h3>Exhibit 2: Famous Ascents</h3>
    <p>To truly understand the scale of his accomplishments, we first must start by looking at his most famous ascents. This exhibit features displays 
        to show how big the mountains he scaled truly were.
    </p>
    <footer id="copyright">&copy; 2026 MonoMuse Inc. All rights reserved.</footer>
</body>
</html>