<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse Museum</title>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <div class="checkout-grid">
        <h1 class="pageTitle">Buy Tickets</h1>
        <nav class="nav_bar">
            <div id="nav-links-container">
                <a href="../index.html" class="links">Home</a>      
                <a href="./explore.html" class="links">Explore</a>
                <a href="./exhibitions.html" class="links">Exhibitions</a>
                <a href="./buytickets.html" class="links">Checkout</a>
            </div>
            <button id="hamburger">&#9776;</button>
        </nav>
        <h1 id="calHeader">Select Event Date</h1>
        <div class="dateSelect">
            <button id="prev">&#10092</button>
            <h2 id="date"> Month Year </h2>
            <button id="next">&#10093</button>
        </div>
        <div class="calendar">
            <div class="calendar-header"> 
                <div>Sun</div><div>Mon</div><div>Tues</div><div>Weds</div><div>Thurs</div><div>Fri</div><div>Sat</div>
            </div>
            
            <div id="calendar-grid"></div>
        </div>

        <div class="ticket_desc">
            <h3 id="table-title">Ticket Pricing</h3>
            <table>
                <tr id="table-head">
                    <th>Type</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Adult</td>
                    <td>General admission for 18 years or older.</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>Admission for university students with valid student IDs. 
                        ID must be presented when entering the museum.</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>Museum members with active museum membership. 
                        Membership ID card must be presented upon entering the museum.</td>
                    <td>$10</td>
                </tr>
            </table>
        </div>

        <button id="continue">Checkout</button>
        <form action="" id="checkout-form" hidden>
            <label for="fullName" class="form-label">Name (First and Last):</label> <br>
            <input required type="text" id="fullName" name="fullName" class="input"><br><br>
            <label for="email" class="form-label">Email</label><br>
            <input required type="email" id="email" name="email" class="input"><br><br>
            <label for="ticketType" class="form-label">Ticket Type</label><br>
            <select id="ticketType" name="ticketType" class="input">
                <option value="general">General</option>
                <option value="student">Student</option>
                <option value="member">Member</option>
            </select><br><br>

            <label for="ticketQuantity" class="form-label">Ticket Quantity (max 10)</label><br>
            <input required type="number" min="1" max="10" id="ticketQuantity" name="ticketQuantity" class="input" inputmode="numeric"><br><br>
            
            <label for="zip_code" class="form-label">Zip Code</label><br>
            <input type="text" id="zip_code" name="zip_code" class="input" pattern="[0-9]{5}" inputmode="numeric" maxlength="5"><br><br>

            <input type="checkbox" id="mailingList" name="mailingList">
            <label for="mailingList">Join our mailing list</label><br><br>
            
            <strong>Total: $<span id="totalPrice">0.00</span></strong> <br>
            <input class="CTA" id="submit" type="submit" value="Submit">
        </form>
    </div>
    

    <footer id="copyright"></footer>
</body>
</html>