<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <div class="exhibit-grid">
        <h1 class="pageTitle">Exhibitions</h1>
        <nav class="nav_bar">
            <div id="nav-links-container">
                <a href="../index.html" class="links">Home</a>      
                <a href="./explore.html" class="links">Explore</a>
                <a href="./exhibitions.html" class="links">Exhibitions</a>
                <a href="./buytickets.html" class="links">Checkout</a>
            </div>
            <button id="hamburger">&#9776;</button>
        </nav>
        
        <iframe id="video" src="https://www.youtube.com/embed/JbbGgASvvOA?si=kbYKis7bOvHJkYck" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h3 class="subtitle" id="exhibit1">Exhibit 1: Brad Gobright's Early Life and Career</h3>
        <p id="desc1">Brad Gobright had an early start in climbing, one that would soon gain him national recognition as a skilled climber.</p>
        <h3 class="subtitle" id="exhibit2">Exhibit 2: Famous Ascents</h3>
        <p id="desc2">To truly understand the scale of his accomplishments, we first must start by looking at his most famous ascents. This exhibit features displays 
            to show how big the mountains he scaled truly were.</p>   
    </div>        
    <footer id="copyright">&copy; 2026 MonoMuse Inc. All rights reserved.</footer>
</body>
</html>