<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    <div class="explore-grid">
        <h1 class="pageTitle">Explore</h1>
        
        <nav class="nav_bar">
            <div id="nav-links-container">
                <a href="../index.html" class="links">Home</a>      
                <a href="./explore.html" class="links">Explore</a>
                <a href="./exhibitions.html" class="links">Exhibitions</a>
                <a href="./buytickets.html" class="links">Checkout</a>
            </div>
            <button id="hamburger">&#9776;</button>
        </nav>
            
         
        <img class="main-image" src="../static/museum_img.png" alt="Image of the MonoMuse museum entrance" width="640" height="400">
        <section class="mission">
                <h2>Mission Statement</h2>
                <p>MonoMuse is dedicated to showcasing the 
                    intersecton of art and technology. The museum 
                    exhibits come together to create one, cohesive 
                    experience, inspiring visitors to learn more 
                    about arts and how technology can enable 
                    creative expression. The museum serves anyone 
                    who comes with an appreciation for the arts 
                    and an open mind.</p>
                    <p>To create a truly immersive experience, we 
                        focus on one topic or theme at a time. You 
                        can see the current theme on the home or 
                        exhibit pages. 
                    </p>
        </section>
        <section class="milestones">
            <h2>Milestones</h2>
            <ul>
                <li>2026: MonoMuse launched the MonoMuse Scholarship which allows students in the creative or technology field to pursue higher education and come back to showcase their work at MonoMuse.</li>
                <li>2020: MonoMuse moved to the current location (pictured above) to bring its exhibits to the public on a larger scale.</li>
                <li>2018: MonoMuse launched its first digital art summer camp for local middle and high school students. </li>
                <li>2016: The original MonoMuse museum was founded, just 10 minutes from the current location. </li>
            </ul>
        </section>
        <section class="donation">
            <h2>How to support us</h2>
            <p>Supporting Monomuse is a vital way to help preserve our collection and ensure that our educational programs remain accessible to the community. 
                Because we do not currently process donations directly through our website, we invite you to reach out to our team via email to coordinate your 
                contribution. Please contact us at <strong>donations@monomuse.com</strong> for information on how to send a check or to discuss other ways you can support our mission. 
                Every gift makes a difference in our ability to maintain our exhibits and serve our visitors.</p>
        </section>
        <section class="hoursOfOperations">
            <h2>Hours of Operations & Location</h2>
            <ul>
                <li>Days: Monday-Friday</li>
                <li>Hours: 0900-1800</li>
                <li>Address: 300 Rodgers Blvd, Honolulu, HI 96819</li>
            </ul>
        </section>
    </div>
    <div id="map"></div>
    <footer id="copyright">&copy; 2026 MonoMuse Inc. All rights reserved.</footer>
</body>
</html>