* {
    font-family: Roboto;
    padding: 5px;
    margin: 5px;
    /* background-color: #2D2F34; */
    color: #B8A2A6;
    font-optical-sizing: auto;
    font-weight: 100;
    Line-height: 1.5;
    font-style: normal;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

html {
    background-color: #2D2F34;
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
  min-width: 100px;
  width: 18vw;
  display: flex;
  background-color: #E4AC83;
  grid-area: logo;
}

nav ul {
    display: flex;         
    list-style-type: none; 
    margin: 0;          
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
  text-decoration: none;
  color: #B8A2A6;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: border-color 0.3s ease;
}

nav a:hover {
    border-color: #BEA90C;
}

.active {
    color: #92ad70;
}

.nav_bar {
    grid-area: nav_bar;
    display: flex;
    justify-content: flex-end;
    justify-self: end;
}

.main {
    display: inline;
    grid-area: description;
    align-self: center;
}

.CTA {
    background-color: #E4AC83;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    padding: 1vw;
    /* margin-left: auto;
    margin-right: auto; */
}

.CTA:hover {
    border: 2px solid #BEA90C;
    background-color: #BEA90C;
}

#homepage {
    margin-left: 20px;
    grid-area: button;
    justify-self: left;
}

#checkout {
    border-radius: 5px;
}

footer {
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid #BEA90C;
   padding: 10px 0;
   text-align: center;
   color: #B8A2A6;
}

form * {
  margin: auto;
  text-align: center;
}

/* CSS Grid for home page */
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo nav_bar"
        "heading heading"
        "image description"
        "button button";
    gap: 20px;
    max-width: 100%;
}

#logo {
    grid-area: logo;
    border-radius: 1vw;
    min-width: 170px;
}

.nav_bar {
    grid-area: nav_bar;
}

.hero {
    grid-area: image;
}

.main-text {
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#greeting {
    grid-area: heading;
}

.CTA {
    grid-area: button;
}

.main-image {
  display: block;
  border-radius: 4vw; 
  grid-area: image;
  max-width: 100%;
  height: auto;
}

.pageTitle {
    background: #E4AC83;
    color: #092A4A;
    font-weight: 800;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    grid-area: heading;
    width: fit-content;
    display: inline;
    height: fit-content;
}

/* CSS Grid for explore page */
.explore-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pageTitle nav_bar"
        "image image"
        "mission milestones";
    gap: 20px;
}

.mission {
    grid-area: mission;
}

.milestones {
    grid-area: milestones;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dateSelect {
    display: flex;
    flex-direction: row;
}


.checkout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pageTitle nav_bar"
        "heading heading"
        "date date"
        "calendar description"
        "continue_to_checkout continue_to_checkout";
    gap: 20px;
    max-width: 100%;
}

#continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    grid-area: continue_to_checkout;
    font-weight: bold;
    width: 50vw;
    background-color: #2D2F34;
}

#continue:hover {
    background-color: #BEA90C;
    color: #2D2F34;
}

#calHeader {
    grid-area: heading;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2D2F34;
    border-radius: 10px 10px 0px 0px;
    color: #B8A2A6;
    font-weight: 400;
}

.dateSelect {
    grid-area: date;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar { 
    grid-area: calendar;
}

#date {
    font-weight: 400;
}

.pageTitle {
    grid-area: pageTitle;
}
.nav_bar {
    grid-area: nav_bar;
}

.ticket_desc {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
}

.calendar-header, #calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.calendar-header div {
    font-weight: 500;
    color: #7FA1C4;
    padding-bottom: 5px;
}

.calendar-day {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.past-day {
    opacity: 0.2;
    pointer-events: none; 
    cursor: default;
}

.today {
    border: 2px solid #BEA90C;
    font-weight: bold;
}

.selected {
    background-color: #BEA90C !important;
    color: #000 !important;
}

#calendar-grid div {
    /* padding: 1vw; */
    border: 1px solid transparent;
    color: #B8A2A6;
    border-radius: 50%;
}

#calendar-grid div:hover {
    background-color: #BEA90C;
    color: #000;
    cursor: pointer;
    border-radius: 50%;
}

.calendar-day.selected {
    background-color: #BEA90C !important;
    color: #000 !important;
}


.today {
    border: 2px solid #BEA90C !important;
}

#table-title {
    font-weight: 400;
    /* margin-right: auto; */
}

#table-head th {
    background-color: #E4AC83;
    border-radius: 1vw 1vw 0 0;
}

#prev {
    background-color: #2D2F34;
}

#next {
    background-color: #2D2F34;
}



th {
    padding: 12px 0;
    color: #2D2F34;
    font-weight: bold;
    width: fit-content;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
}

td {
    border-bottom: 1px dashed #E4AC83;
}

.past-day {
    opacity: 0.2;
    pointer-events: none;
}

.form-label {
    font-weight: bold;
}

.input {
    margin-left: 3px;
}

.exhibit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pageTitle nav_bar"
        "exhibit1 exhibit1"
        "desc1 desc1"
        "exhibit2 exhibit2"
        "desc2 desc2";
    gap: 20px;
    max-width: 100%;
}

.pageTitle {
    grid-area: pageTitle;
    display: inline;
}

.nav_bar {
    grid-area: nav_bar;
    display: inline;
    margin-left: auto;
}

#exhibit1 {
    grid-area: exhibit1;
}

#desc1 {
    grid-area: desc1;
}

#exhibit2 {
    grid-area: exhibit2;
}

#desc2 {
    grid-area: desc2;
}

#hamburger {
    display: none;
}

#video {
    width: 50vw;
    height: 25vw;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .responsive {
        display: none;
    }

    .home-grid {
        grid-template-areas:
            "logo hamburger"
            "heading heading"
            "image image"
            "description description"
            "button button";  
    }

    .explore-grid {
        grid-template-areas: 
            "pageTitle hamburger"
            "image image"
            "mission mission"
            "milestones milestones";
        gap: 20px;
        max-width: 90%;
    }

    .exhibit-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "pageTitle hamburger"
            "exhibit1 exhibit1"
            "desc1 desc1"
            "exhibit2 exhibit2"
            "desc2 desc2";
        gap: 20px;
        max-width: 100%;
    }

    .checkout-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "pageTitle hamburger"
            "heading heading"
            "date date"
            "calendar calendar"
            "description description"
            "continue_to_checkout continue_to_checkout";
        gap: 20px;
        max-width: 100%;
    }

    #video {
        width: 70vw;
        height: 35vw;
    }

    /* .nav_bar {
        grid-area: hamburger;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #hamburger {
        display: flex;
        grid-area: hamburger;
    } */

    .nav_bar {
        grid-area: hamburger;
        position: relative; 
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #nav-links-container {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;       
        right: 0;
        min-width: 10rem; 
        background-color: #2D2F34;
        border: 0.0625rem solid #E4AC83; 
        border-radius: 0.5rem;
        padding: 1rem;
        z-index: 10;
    }

    #nav-links-container.active {
        display: flex;
        flex-direction: column;
    }

    #nav-links-container a {
        display: block;
        margin: 0.5rem 0;
        font-size: 1.1rem;
        text-align: right;
    }

    #hamburger {
        /* height: 10vw;
        width: 10vw; */
        display: flex;
        background: none;
        padding: 0.5rem 0.8rem;
        font-size: 1.5rem; 
        cursor: pointer;
    }

    .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 12vw;
        /* width:  */
    }

    .calendar-header, #calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        gap: 1px;
    }
    
    .pageTitle {
        grid-area: pageTitle;
        display: inline;
        height: fit-content;
    }

    .ticket_desc {
        grid-area: description;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    .main-image {
        grid-area: image;
        max-width: 80vw;
        justify-content: left;
    }

    .main-text {
        grid-area: description;
        max-width: 98vw;
    }

}

.subtitle {
    font-weight: bold;
}

[hidden] {
  display: none;
}




#map { 
    /* background-color: transparent; */
    height: 25vw; 
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    background-color: black;
}